*, html 
{
  margin: 0px;
  padding: 0px;
}

#gallery
{
	background: url(imagenes/inicio1.jpg) 50% 0 no-repeat fixed;
}

#banner
{
	background: url(imagenes/foto2.jpg) 50% 0 no-repeat fixed;
}

#comment
{
	background: url(imagenes/foto3.jpg) 50% 0 no-repeat fixed;
}

#gallery, #banner, #comment 
{
	 min-height: 700px;
	 max-width: 1920px;
	 margin: 0px auto;
	 position: relative;
	 width: 100%;
	 -webkit-background-size:cover;
	 -moz-background-size:cover;
	 -o-background-size:cover;
	 background-size: cover;
}

#banner, #comment
{
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.parallax
{
	
}

#galerymoble
{
	margin-top: 320px;
	margin-left: 100px;
	position: absolute;
	

}

/*......Menu......*/


header{
height: 50px;
background:#fff;
color: #CE852A;
opacity: 0.5;
}

.menu ul{

background-color: #ffffff;
display: flex;
list-style: none;


}

.menu ul ul{

	display: none;

}

.menu a{
display: block;
padding: 15px 20px;
color: #CE852A;
text-decoration: none;

}

.menu a:hover{

	background-color: rgba(0,0,0,0.3);
}

.menu a img{

	margin-left: 10px;
}

.menu ul li:hover ul{

	display: block;
	position: absolute;
}